.menu {
  background-color: #1FA97B;
}

.menu__btn {
  display: none;
}

.menu__list {
  .reset();
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.menu__item {
  flex-grow: 1;
  .transition();
  
  &--catalog {
    flex-grow: 0;
    width: 270px;
    padding-left: 32px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 14px;
    background-color: rgba(255,255,255,0.15);
    background-image: url(../img/icons/menu.svg);
    background-repeat: no-repeat;
    background-size: 20px 14px;
    background-position: left 40px center;
  }
  
  &:hover,
  &:active {
//    opacity: 0.7;
    background-color: rgba(255,255,255,0.15);
    .transition();
  }
}

.menu__link {
  display: block;
  padding: 17px 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 1;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  text-align: center;
  .transition();
}
