.sidebar {
  width: 270px;
}

.sidebar__menu {
  margin-bottom: 20px;
  background-color: #fff;
}

.sidebar__list {
  .reset();
  list-style: none;
}

.sidebar__item {
  position: relative;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  
  &:hover {
    .sidebar__link {
      color: @violet;
      .transition();
    }
    
    svg {
      stroke: @violet;
      .transition();
    }
    
    .sidebar__drop {
      display: flex;
    }
  }
}

.sidebar__link {
  display: block;
  padding: 18px 38px;
  font-size: 15px;
  line-height: 18px;
  .transition();
}

.sidebar__btn {
  position: absolute;
  top: 17px;
  right: 23px;
  
  svg {
    width: 11px;
    height: 11px;
    stroke: #4F4F4F;
    .transition();
  }
}

.sidebar__drop {
  display: none;
  position: absolute;
  top: 0;
  left: 100%;
  z-index: 100;
  background-color: #fff;
}

.sidebar__sublist {
  .reset();
  list-style: none;
  width: 270px;
  min-width:  270px;
  padding: 15px 30px;
  padding-bottom: 19px;
}

.sidebar__subitem {
  position: relative;
  .transition();
  
  a {
    display: block;
    padding: 3px 0 5px 0;
    font-size: 13px;
  }
  
  span {
    position: absolute;
    top: 3px;
    right: 0;
    color: #BDBDBD;
    .transition();
  }
  
  &:hover,
  &:active,
  &--active {
    color: @violet;
    .transition();
    
    span {
      color: @violet;
      .transition();
    }
  }
}
